{{ form_start(form) }}
<div class="custom-form">
    <div class="form-group">
        {{ form_row(form.titre, {'attr': {'class': 'custom-input'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.contenu, {'attr': {'class': 'custom-input'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.department, 'Département', {'label_attr': {'class': 'custom-label'}}) }}
        {{ form_widget(form.department, {'attr': {'class': 'custom-select'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.image, 'Image (JPG, JPEG, ou PNG)', {'label_attr': {'class': 'custom-label'}}) }}
        <div class="custom-file">
            {{ form_widget(form.image, {'attr': {'class': 'custom-file-input'}}) }}
        </div>
    </div>
    <button class="btn btn-primary">{{ button_label|default('Sauvegarder') }}</button>
</div>
{{ form_end(form) }}
